<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>{{status}}</h1>
        <h1>This is register page</h1>
        <form action="/registeruser" >
            Full name:<input type="text"  name="fullname"><br><br>
            Email:<input type="email" name="email"><br><br>
            Password:<input type="password" name="password"><br><br>
            <button type="submit">Register</button>
        </form>
    </center>
</body>
</html>