<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is user profile</h1>
        <form action="/userprofile" method="post">
            Fullname:<input type="text" name="fullname">
            <button type="submit">Get details</button>
        </form>
        <h1>{{user.fullname}}</h1>
        <h1>{{user.email}}</h1>
        <h1>{{user.password}}</h1>
    </center>
</body>
</html>